@media screen and (max-width: 1159px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .content__advantage-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content__advantage{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        align-self: center;
        grid-row-gap: 80px;
        justify-content: center;
        grid-column-gap: 54px;
    }
    .macaroons__items{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 142px;
        justify-content: center;
        align-self: center;
    }
    .macaroons__container{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 1023px) {
    .order__info-img-macaroon{
        width: 352px;
    }
    .content__info-macaroon{
        width: 302px;
    }
    .order__info{
        gap: 85px;
    }
}
@media screen and (max-width: 915px) {
    .main{
        padding: 55px 0 10px 0;
    }
    .main__container{
        gap: 5px;
        position: relative;
    }
    .main__img{
        position: absolute;
        bottom: 45px;
        right: 40px;
    }
    .main__action-btn{
        margin-bottom: 420px;
    }

}
@media screen and (max-width: 769px) {
    .header__phone{
        display: none;
    }
    .header__container{
        justify-content: flex-start;
        gap: 103px;
    }
    .main__container{
        justify-content: flex-start;
    }
    .main__title{
        margin-bottom: 73px;
    }
    .main__text{
    margin-bottom: 21px;
    }
    .content__info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content__info-text{
        max-width: 668px;
        margin-bottom: 40px;
    }
    .content__info-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content__advantage{
        padding-top: 10px;
        grid-column-gap: 54px;
        grid-row-gap: 80px;
        justify-content: center;
    }
    .order__info{
        flex-direction: row-reverse;
        gap: 0;
        justify-content: space-between;
    }
    .order__info-img-macaroon{
        width: 352px;
        position: absolute;
        left: -335px;
        top: -330px;
        z-index: 1;
    }
    .order__info-img-straw{
        top: -400px;
        left: -318px;
    }
    .order__product-img-straw{
        bottom: 428px;
        right: -200px;
    }
}
@media screen and (max-width: 643px){
    .menu{
        margin-right: 0;
    }
    .main__img{
        position: relative;
        right: 0;
        bottom: 0;
        margin-bottom: 33px;
    }
    .main__img-macaroon{
        width: 100%;
    }
    .macaroons__items {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 142px;
    }
    .macaroons__item-btn{
        padding: 17px 29px
    }
    .main__action-btn{
        margin-bottom: 0;
    }
    .main__container{
        flex-direction: column;
        gap: 38px;
    }
    .content__container{
        gap: 60px;
    }
    .content__advantage{
        grid-column-gap: 15px;
        grid-row-gap: 36px;
        text-align: center;
    }
    .content{
        padding: 100px 0;
    }
    .content__info-title{
        margin-bottom: 41px;
    }
    .content__info-text{
        margin-bottom: 59px;
    }
    .macaroons{
        padding: 99px 0;
    }
    .order__product-img-straw{
        display: none;
    }

}
@media screen and (max-width: 579px){
    .present:active{
        bottom: 29px;
        right: 30px;
    }
    @keyframes pulse {
        0% {
            transform: scale(1)
        }
        100% {
            transform: scale(2);
            opacity: 0
        }
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .menu{
        display: none;
    }
    .header__burger{
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .menu.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        margin: 0;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        position: fixed;
        z-index: 999999;
        transition: all 0.4s ease;
    }
    .menu__close.close{
        display: block;
        position: absolute;
        left: 30px;
        top:30px;
        fill: #821328;
    }
    .menu__close.close svg{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .menu .menu__list{
        padding: 100px 0;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 158px;
    }

    .menu .menu__list .menu__link{
        font-size: 30px;
    }
    .header__container{
        flex-direction: row-reverse;
        gap: 0;
        justify-content: space-between;
    }
    .order{
        padding: 99px 0 77px 0;
    }
    .order__info-img-macaroon, .order__product-img-straw{
        display: none;
    }
    .order__info-img-straw{
        top: -505px;
        left: -71px;
    }
    .order__info{
        padding:0;
    }
    .order__info-text{
        margin: 45px 0 60px 0;
    }
    .order__info-title{
        font-size: 30px;
    }
    .main__title{
            font-size: 32px;
            text-align: center;
            line-height: 1.25;
            margin-bottom: 40px;
    }
    .main__img-macaroon{
        width: 250px;
    }
    .main__text{
        margin-bottom: 40px;
    }
    .main__text, .content__info-text{
            font-size: 16px;
            line-height: 1.438;
            text-align: center;
    }
    .order__info-text{
        font-size: 16px;
        line-height: 1.438;
    }
    .main__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content__info-title, .macaroons__title, .order__info-title{
            font-size: 30px;
    }
    .macaroons__title{
        margin-bottom: 122px;
    }
    .content__advantage-title{
            font-size: 18px;
    }
    .content__advantage-text{
            font-size: 13px;
            line-height: 1.385;
    }
    .order__product-input{
        width: 344px;
    }
    .order__product-btn{
        width: 344px;
    }
    .footer{
        padding: 50px 0;
    }
    .footer__info{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        align-items: flex-start;
        justify-items: center;
        row-gap: 16px;
    }
    .footer__instagram-img{
        margin-left: 0;
    }
    .footer__logo-img{
        order: 1;
    }
    .footer__instagram-img{
        order: 3;
    }
    .footer__title{
        order: 4;
        margin-top: 0;
    }
    .footer__phone{
        order: 2;
        margin-top: 0;
    }
    .footer__text{
        order: 5;
        margin-top: 0;
    }
}

