* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: GilroyExtraBold;
    src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
    font-family: GilroyBold;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: Travolga;
    src: url("../fonts/Tavolga.otf");
}

body {
    font-family: Travolga, sans-serif;
}

.header__burger {
    display: none;
}

.menu__close {
    display: none;
}

.header, .main, .macaroons {
    background-color: #eba8b1;
}

.header {
    padding: 36px 0 25px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .menu__list {
    list-style: none;
    display: flex;
    width: 315px;
    justify-content: space-between;
}

.menu .menu__list .menu__item {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.menu .menu__list .menu__item:hover {
    border-bottom: 2px solid rgb(130, 19, 40);
    transform: scale(1.02);
}

.menu .menu__list .menu__link {
    text-decoration: none;
    font-size: 14px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 11, 29);
}

.header__phone {
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
}

.main {
    padding: 127px 0 108px 0;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.main__info {
    max-width: 585px;
}

.main__title {
    font-size: 55px;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    margin-bottom: 59px;
}

.main__text {
    max-width: 350px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.389;
    margin-bottom: 80px;
}

.btn {
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    border-radius: 30px;
    border: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.main__action-btn {
    padding: 22px 22px 21px 22px;
    font-size: 18px;
    width: 240px;
}

.content, .order {
    background-color: #ffefef;
}

.content {
    padding: 120px 0;
}

.content__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 78px;
}

.content__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content__info-title {
    max-width: 475px;
    margin-bottom: 59px;
    font-size: 45px;
    color: rgb(51, 25, 7);
    line-height: 1.222;
}

.content__info-text {
    max-width: 402px;
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    margin-bottom: 5px;
}

.content__advantage {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 80px;
}

.content__advantage-item {
    max-width: 220px;
}

.content__advantage-circle {
    border-radius: 50%;
    background-color: #821328;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.content__advantage-circle.maroon {
    background-color: #eba8b1;
}

.circle-text {
    font-size: 60px;
    font-family: GilroyExtraBold, sans-serif;
    color: rgb(255, 255, 255);
    height: 54px;
}

.circle-text.maroon {
    color: rgb(130, 19, 40);
}

.content__advantage-title {
    margin: 12px 0 20px 0;
    font-size: 20px;
    font-family: GilroyExtraBold, sans-serif;
    color: rgb(51, 25, 7);
}

.content__advantage-text {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
}

.macaroons {
    padding: 120px 0;
}

.macaroons__title {
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-bottom: 142px;
    text-align: center;
}

.macaroons__items {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 27px;
}

.macaroons__item{
    width: 261px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    padding:109px 21px 27px 11px;
        border-radius: 20px;
    position: relative;
}
.macaroons__item-img{
    position: absolute;
    top: -60px;
    right: 36px;
}
.macaroons__item-title{
    text-align: center;
        font-size: 18px;
        color: rgb(255, 255, 255);
    margin-bottom: 26px;
}
.macaroons__item-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.macaroons__item-desc{
        font-size: 15px;
        font-family: Gilroy,sans-serif;
        color: rgb(255, 255, 255);
    margin-bottom: 16px;
}
.macaroons__item-btn{
    width: 130px;
    padding: 19px 19px 20px 19px;
}







.order {
    padding: 97px 0 120px 0;
}