<footer class="footer">
  <div class="footer__container container">
    <div class="footer__info">
      <a (click)="scrollToMain()" class="logo header__logo"><img src="assets/img/logo.png" class="footer__logo-img" alt="logo"></a>
      <a href="{{footerInfo.instagram}}" target="_blank"><img src="assets/img/instagram.png" class="footer__instagram-img" alt="instagram"></a>
      <div class="footer__phone">{{footerInfo.phone}}</div>
      <div class="footer__text">Все права защищены, 2020</div>
      <div class="footer__title">Мы в Instagram</div>
    </div>
  </div>
</footer>
