<section class="main" id="mainElement" #mainElement>
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">Мягкие французские пироженки Macaroons</h1>
      <div class="main__text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
        Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__action-btn" (click)="scrollTo(productsElement)">Выбрать макарун</button>
      </div>
    </div>
    <div class="main__img"><img src="assets/img/main-img.png" class="main__img-macaroon" alt="macaroons"></div>
  </div>
</section>
<section class="content" id="contentElement">
  <div class="container content__container">
    <div class="content__info">
      <div class="content__info-box">
        <div class="content__info-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</div>
        <div class="content__info-text">Все пироженки мы готовим только из натуральных и качественных продуктов,
          без
          консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
          дрожжей,
          маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="content__info-img">
        <img src="assets/img/content-img.png" class="content__info-macaroon" alt="macaroon">
      </div>
    </div>
    <div class="content__advantage">
      <div class="content__advantage-item" *ngFor="let advantage of advantages; let i = index">
        <div class="content__advantage-circle">
          <div class="circle-text">{{i+1}}</div>
        </div>
        <div class="content__advantage-title">{{advantage.title}}</div>
        <div class="content__advantage-text">{{advantage.text}}</div>
      </div>
    </div>
  </div>
</section>
<section class="macaroons" id="macaroonsElement" #productsElement>
  <div class="container macaroons__container">
    <h2 class="macaroons__title">Выберите свой макарун</h2>
    <div class="macaroons__items">
      <div class="macaroons__item" *ngFor="let product of products; let i = index">
        <img src="assets/img/{{product.img}}" class="macaroons__item-img" alt="macaroon {{i+1}}">
        <div class="macaroons__item-title">{{product.name}}</div>
        <div class="macaroons__item-order">
          <div class="macaroons__item-text">
            <div class="macaroons__item-desc">1 шт.</div>
            <div class="macaroons__item-desc">{{product.price}} руб.</div>
          </div>
          <div class="macaroons__item-action">
            <button class="btn macaroons__item-btn" (click)="addToCart(product, orderElement)">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" id="orderElement" #orderElement>
  <div class="container order__container">
    <div class="order__info">
      <div class="order__info-img">
        <img src="assets/img/order-straw-left.png" class="order__info-img-straw" alt="strawberry">
        <img src="assets/img/order-img.png" class="order__info-img-macaroon" alt="macaroon">
      </div>
      <div class="order__info-content">
        <div class="order__info-title">Закажите макарун!</div>
        <div class="order__info-text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
          пекаря!
        </div>
        <form action="https://webhook.site/661067cc-96a1-46f7-8be6-ff9770a506c5" method="post" class="order__product">
          <div class="order__product-subtitle">Ваш выбор</div>
          <input class="order__product-input big-margin" name="choice" [(ngModel)]="formValues.productTitle" placeholder="Напишите, что хотите заказать...">
          <div class="order__product-subtitle">Заполните данные для заказа</div>
          <input class="order__product-input" name="name" [(ngModel)]="formValues.name" placeholder="Ваше имя">
          <input class="order__product-input" name="number" [(ngModel)]="formValues.phone"  placeholder="+375 (__) ___ - __ - __">
          <button type="submit" class="order__product-btn btn" (click)="createOrder()">Оформить заказ</button>
        </form>
        <img src="assets/img/order-straw-2.png" class="order__product-img-straw" alt="strawberry">
      </div>
    </div>
  </div>
</section>
<div class="present" *ngIf="showPresent">
  <img src="assets/img/present.png" class="present-img" alt="present" >
  <div class="present__popup">
    Оформите заказ и получите подарок!
  </div>
</div>
