* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("../assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Travolga;
  src: url("../assets/fonts/Tavolga.otf");
}

body {
  font-family: Travolga, sans-serif;
  position: relative;
  overflow-x: hidden;
}
a{
  cursor: pointer;
}
.main, .macaroons {
  background-color: #eba8b1;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}


.main {
  padding: 127px 0 108px 0;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.main__info {
  max-width: 585px;
}

.main__title {
  position: relative;
  font-size: 55px;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  margin-bottom: 59px;
  z-index: 3;
}

.main__text {
  max-width: 350px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  margin-bottom: 80px;
}
button{
  position: relative;
  z-index: 9999;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  //background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  //background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  //background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border-radius: 30px;
  border: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.main__action-btn {
  padding: 22px 22px 21px 22px;
  font-size: 18px;
  width: 240px;
}

.main__img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__img-macaroon {
  z-index: 3;
}

.main__img::before {
  content: "";
  position: absolute;
  border: 1px solid #821328;
  transition: border;
  width: 200px;
  height: 200px;
  z-index: 1;
  border-radius: 50%;
  animation: pulse 3s infinite;
  animation-delay: 0.5s;
}

.main__img::after {
  content: "";
  position: absolute;
  border: 1px solid #821328;
  transition: border;
  width: 200px;
  height: 200px;
  z-index: 1;
  border-radius: 50%;
  animation: pulse 3s infinite;
}

.content, .order {
  background-color: #ffefef;
}

.content {
  padding: 120px 0;
  position: relative;
  z-index: 9999;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 78px;
}

.content__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content__info-macaroon{
  width: 100%;
}

.content__info-title {
  max-width: 475px;
  margin-bottom: 59px;
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
}

.content__info-text {
  max-width: 402px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 5px;
}





.macaroons {
  padding: 120px 0;
}

.macaroons__title {
  font-size: 45px;
  color: rgb(255, 255, 255);
  margin-bottom: 142px;
  text-align: center;
}

.macaroons__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 263px);
  grid-gap: 29px;
}



.order {
  padding: 97px 0 120px 0;
}

.order__info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 10px;
  gap: 162px;
}

.order__info-img {
  position: relative;
}

.order__info-img-macaroon {
  width: 100%;
}

.order__info-content {
  max-width: 406px;
  position: relative;
}

.order__info-title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  -moz-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -webkit-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -ms-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
}

.order__info-text {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;;
  -moz-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -webkit-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -ms-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  margin: 42px 0 48px 0;
}

.order__product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  z-index: 4;
}

.order__product-subtitle {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
  -moz-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -webkit-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -ms-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  margin-bottom: 5px;
}

.order__product-input {
  background-color: transparent;
  outline: none;
  padding: 23px 23px 24px 25px;
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  width: 294px;
  height: 59px;
  box-sizing: border-box;
}

.order__product-input.big-margin {
  margin-bottom: 25px;
}

.order__product-input::placeholder {
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: rgb(118, 12, 34);
  -moz-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -webkit-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
  -ms-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
}

.order__product-btn {
  padding: 22px 21px 21px 22px;
  width: 294px;
  font-size: 18px;
}

.order__info-img-straw {
  position: absolute;
  top: -25px;
  left: -18px;
  animation: strawberry 2s infinite linear;
}

.order__product-img-straw {
  position: absolute;
  bottom: 80px;
  right: -10px;
  animation: strawberry 3s infinite linear;
}

.present {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 90px;
  height: 90px;
  background: radial-gradient(50% 50% at 50% 50%, #71081e 0%, #d7485c 100%);
  z-index: 9999;
  opacity: 0.85;
  transition: box-shadow 0.4s ease;
}
.present-img{
  width: 43%;
}

.present:hover {
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present:hover .present__popup {
  display: flex;
}

.present__popup {
  display: none;
  width: 100px;
  position: absolute;
  border: 2px solid rgb(119, 10, 29);
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  padding: 16px 10px 14px 10px;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  box-sizing: border-box;
  bottom: 10px;
  right: 110px;
  transition: all 0.3s;
}
.present__popup:after,
.present__popup:before {
  content: " ";
  left: 100%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
}
.present__popup:after {
  border-color: rgba(254, 239, 238, 0);
  border-left-color: #FEEFEEFF;
  border-width: 13px;
  top: 50%;
  margin-top: -13px;
}
.present__popup:before {
  border-color: rgba(119, 10, 29, 0);
  border-left-color: #770A1DFF;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
.count-product{
  display: none;
  justify-content: center;
  position: absolute;
  right: 7px;
  width: 16%;
  top: -3px;
  background: rgb(254, 239, 238);
  color: rgb(119, 10, 29);
  border-radius: 50%;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  padding: 5px;
  border: 2px solid rgb(119, 10, 29);

}


@keyframes pulse {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(3.5);
    opacity: 0
  }
}

@keyframes strawberry {
  0% {
    transform: translate(0, 20px)
  }
  50% {
    transform: translate(0, 40px)
  }
  100% {
    transform: translate(0, 20px)
  }
}
@media screen and (max-width: 1159px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .macaroons__items{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 142px;
    justify-content: center;
    align-self: center;
  }
  .macaroons__container{
    display: flex;
    flex-direction: column;
  }

}
@media screen and (max-width: 1023px) {
  .order__info-img-macaroon{
    width: 352px;
  }
  .content__info-macaroon{
    width: 302px;
  }
  .order__info{
    gap: 85px;
  }
}
@media screen and (max-width: 915px) {
  .main{
    padding: 55px 0 10px 0;
  }
  .main__container{
    gap: 5px;
    position: relative;
  }
  .main__img{
    position: absolute;
    bottom: 45px;
    right: 40px;
  }
  .main__action-btn{
    margin-bottom: 420px;
  }

}
@media screen and (max-width: 769px) {
  .main__container{
    justify-content: flex-start;
  }
  .main__title{
    margin-bottom: 73px;
  }
  .main__text{
    margin-bottom: 21px;
  }
  .content__info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content__info-text{
    max-width: 668px;
    margin-bottom: 40px;
  }
  .content__info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .order__info{
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-between;
  }
  .order__info-img-macaroon{
    width: 352px;
    position: absolute;
    left: -335px;
    top: -330px;
    z-index: 1;
  }
  .order__info-img-straw{
    top: -400px;
    left: -318px;
  }
  .order__product-img-straw{
    bottom: 428px;
    right: -200px;
  }
}
@media screen and (max-width: 643px){
  .main__img{
    position: relative;
    right: 0;
    bottom: 0;
    margin-bottom: 33px;
  }
  .main__img-macaroon{
    width: 100%;
  }
  .macaroons__items {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 142px;
  }

  .main__action-btn{
    margin-bottom: 0;
  }
  .main__container{
    flex-direction: column;
    gap: 38px;
  }
  .content__container{
    gap: 60px;
  }

  .content{
    padding: 100px 0;
  }
  .content__info-title{
    margin-bottom: 41px;
  }
  .content__info-text{
    margin-bottom: 59px;
  }
  .macaroons{
    padding: 99px 0;
  }
  .order__product-img-straw{
    display: none;
  }

}
@media screen and (max-width: 579px){
  .present:active{
    bottom: 29px;
    right: 30px;
  }
  @keyframes pulse {
    0% {
      transform: scale(1)
    }
    100% {
      transform: scale(2);
      opacity: 0
    }
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }

  .order{
    padding: 99px 0 77px 0;
  }
  .order__info-img-macaroon, .order__product-img-straw{
    display: none;
  }
  .order__info-img-straw{
    top: -505px;
    left: -71px;
  }
  .order__info{
    padding:0;
  }
  .order__info-text{
    margin: 45px 0 60px 0;
  }
  .order__info-title{
    font-size: 30px;
  }
  .main__title{
    font-size: 32px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .main__img-macaroon{
    width: 250px;
  }
  .main__text{
    margin-bottom: 40px;
  }
  .main__text, .content__info-text{
    font-size: 16px;
    line-height: 1.438;
    text-align: center;
  }
  .order__info-text{
    font-size: 16px;
    line-height: 1.438;
  }
  .main__info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__info-title, .macaroons__title, .order__info-title{
    font-size: 30px;
  }
  .macaroons__title{
    margin-bottom: 122px;
  }

  .order__product-input{
    width: 344px;
  }
  .order__product-btn{
    width: 344px;
  }

}

